@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.itemListWrapper {
  background-color: $mainBGC;
  min-height: calc(100vh - 64px);
  padding: 10px 40px;

  .itemListContainer {

    .settingsBlock {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 15px;
      font-size: 14px;

      h4 {
        margin: 0 10px 0 0;
      }

      .button {
        margin-left: auto;

        .primaryButton {
          background-color: $primary;
          color: #ffffff;

          &:hover {
            background-color: #128EF2;
          }
        }
      }
    }

    .itemListBlock {
      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0;

        thead {
          tr {
            th {
              color: $primary;
              font-size: 15px;
              text-align: left;
              padding: 0 15px 10px 15px;
              border-bottom: 2px solid $borderColor;
              &:hover {
                cursor: pointer;
              }
            }

            .nameCol {

            }

            .cardsCountCol {

            }

            .updatedCol {

            }

            .userNameCol {

            }
            .actions {
              width: 280px;
              &:hover {
                cursor: default;
              }
            }
          }
        }
      }
    }
    .paginationBlock {
      margin: 20px 0;
    }
  }

}
